#middleContainer {
  position: absolute;
  margin-left: 310px;
  width: inherit;
  height: 100%;
  background-color: #f2f2f2;
  overflow-x: scroll;
  transition: 0.3s;
  display: inline-block;
}

#middleHeader {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentTask {
  background-color: none;
  border: none;
  width: 500px;
  height: 40px;
  color: #444444;
  font-size: 32px;
  font-weight: normal;
  margin-right: 185px;
  text-align: center;
}

.subTaskContainer {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
}

.subTaskList {
  float: left;
  width: 21.5%;
  height: fit-content;
  box-shadow: inset 0px -30px 41px -23px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  margin: 1%;
  margin-bottom: 2%;
}

.subListHeader {
  width: 100%;
  height: 50px;
  background-color: #424249;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.subTask {
  font-size: 18px;
  color: #f2f2f2;
}

#plussSubTaskList {
  position: absolute;
  left: 0;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonSubTaskList {
  position: absolute;
  margin-top: 2px;
  width: 100px;
  height: 45px;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  background-color: #bcbcbc;
  border-radius: 5px;
  color: #f2f2f2;
  transition: 0.1s;
  left: 0;
  bottom: 0;
  margin-left: 75px;
}

#buttonSubTaskList:hover {
  background-color: #ff5e2c;
  color: #f2f2f2;
}

#AddContainerEmpty {
  width: 95%;
  padding-right: 5%;
  float: left;
  grid-column-gap: 25px;
  padding: 0px;
  padding-right: 0px;
}

.subTaskInput {
  position: absolute;
  width: 200px;
  padding: 9px 20px;
  margin-left: -150px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.subTaskInput:focus {
  border: 3px solid #2bb524;
}

.subTaskFormStyle {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #bcbcbc;
  text-align: center;
  transition: 0.3s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.createTaskForm {
  width: inherit;
}

.subLi {
  text-align: left;
  background: #eaeaea;
  padding: 12.5px;
  box-shadow: inset 0px -5px 10px 5px #e2e2e2;
  text-decoration-style: solid;
  text-decoration-color: #000000;
}

ul > .subLi {
  padding-bottom: 12.5px;
}

#openLeftBar {
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: 9px;
  margin-left: 20px;
  left: 0;
  top: 0;
  border: 0;
  background: transparent;
  background-image: url(/icons/leftbarOpenGrey.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  border: none;
  transition: 0.3s;
  display: none;
}

#openLeftBar:hover {
  background-image: url(/icons/leftbarOpenDarkgrey.png);
}

#closeLeftBar {
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: 9px;
  margin-left: 20px;
  left: 0;
  top: 0;
  border: 0;
  background: transparent;
  background-image: url(/icons/leftbarCloseGrey.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  border: none;
  transition: 0.3s;
}

#closeLeftBar:hover {
  background-image: url(/icons/leftbarCloseDarkgrey.png);
}

.subTaskButton {
  position: absolute;
  background-color: #aaaaaa;
  border: none;
  color: white;
  padding: 8px 25px;
  margin-top: 2.8px;
  margin-left: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.1s;
}

.subTaskButton:hover {
  background-color: #ff5e2c;
}

#buttonAddMember {
  position: absolute;
  margin-top: 2px;
  width: 125px;
  height: 45px;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  background-color: #bcbcbc;
  border-radius: 5px;
  color: #f2f2f2;
  margin-left: 107.5px;
  transition: 0.1s;
}

#buttonAddMember:hover {
  background-color: #ff5e2c;
}

#buttonAddMemberHide {
  position: absolute;
  margin-top: 2px;
  width: 125px;
  height: 45px;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  background-color: #bcbcbc;
  border-radius: 5px;
  color: #f2f2f2;
  margin-left: 107.5px;
  transition: 0.1s;
  display: none;
}

#buttonAddMemberHide:hover {
  background-color: #ff5e2c;
}

#memberContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  margin-top: 65px;
  margin-left: 65px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #f2f2f2;
  z-index: 4;
  display: none;
  overflow: scroll;
  border-radius: 5px;
}

#memberListDropdow {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 380px;
  height: relative;
}

.memberBoxList {
  width: 380px;
  height: 70px;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.memberAvatar {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 60px;
  height: 60px;
  background-image: url(/images/userLogo.png);
  background-position: center;
  background-size: contain;
  border-radius: 100%;
}

.memberUsername {
  position: absolute;
  font-size: 18px;
  margin-left: 80px;
  margin-top: 22.5px;
  font-weight: normal;
  color: #444444;
}

.addThisMember {
  position: absolute;
  margin-top: 2px;
  width: 90px;
  height: 35px;
  font-size: 1em;
  font-weight: normal;
  border: none;
  background-color: #aaaaaa;
  border-radius: 5px;
  color: #f2f2f2;
  margin-top: 16px;
  margin-left: 265px;
  transition: 0.1s;
}

.addThisMember:hover {
  background-color: #ff5e2c;
}

.AddTextThisMember {
  position: absolute;
  margin-left: 28px;
  margin-top: 7.5px;
}

#memberIconContainer {
  position: absolute;
  width: 60px;
  top: 0;
  left: 0;
  width: 50px;
  height: 25%;
  margin-left: 290px;
  margin-top: 28px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  border-radius: 5px;
}

.ProjectMembers {
  position: relative;
  float: left;
  width: 45px;
  height: 45px;
  margin: 3px;
  background-image: url(/images/userLogo.png);
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
  border-radius: 5px;
}
