#middleContainer{
  position: absolute;
  margin-left: 350px;
  width: inherit;
  height: 100%;
  background-color: #f2f2f2;
  overflow-x: scroll;
  transition: 0.3s;
  display: inline-block;
}

#middleHeader{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px #444444;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentTask{
  color: #444444;
  font-weight: normal;
  margin-right: 150px;
}

.subTaskContainer{
  margin-top: 150px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left:20px;
  padding-top: 10px;
}

.subTask{
  font-size: 18px;
  color: #f2f2f2;
}

#plussSubTaskList{
  position: absolute;
  left: 0;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonSubTaskList{
  margin-top: 5px;
  width: 100px;
  height: 50px;
  font-size: 1em;
  font-weight: bolder;
  border: none;
  background-color: #bcbcbc;
  border-radius: 5px;
  color: #f2f2f2;
  margin-left: -120px;
  transition: 0.1s;
}

#buttonSubTaskList:hover{
  background-color: #2bb524;
  color: #f2f2f2;
}
