#popUpContainer {
  position: sticky;
  height: 300px;
  width: 450px;
  padding-right: 100px;
  border: 2px solid #424249;
  border-radius: 5px;
  background-color: #c0c0c0;
  /* align-items: center;  */
  /* align-content: center; */
  display: none;
}

#popUpInput1 {
  width: 250px;
  height: 150px;
  background-color: orange;
}

#backBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  background-image: url(/icons/x-mark.png);
  background-size: cover;
}

#selectTxt {
  text-align: center;
}

#selectStatus {
  display: flex;
  width: 50%;
  height: 50%;
  float: left;
  top: 0%;
}

.status {
  border: 2px solid #424249;
  width: 200px;
  height: 25px;
  margin-left: 50px;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  align-content: center;
}

#statusTodo {
  background-color: #ffffff;
}
#statusDoing {
  background-color: #f4b707;
}
#statusFeedback {
  background-color: #4184c6;
}
#statusDone {
  background-color: #5ec19d;
}

#changeTaskName {
  padding: 10px;
  display: flex;
  height: 50px;
  width: 100%;
  float: left;
}
#changeTaskName p {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

#taskNameInput {
  width: 60%;
  height: 30px;
  margin-top: 25px;
}
