.popUpContainer {
  position: absolute;
  height: 680px;
  width: 700px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.35);
  right: 0;
  bottom: 0;
  display: none;
}

#popUpContainer {
  position: absolute;
  height: 680px;
  width: 700px;
  right: 0;
  bottom: 0;
  margin-right: 110px;
  margin-bottom: 30px;
  float: right;
  display: none;
}

#popUpInput1 {
  width: 250px;
  height: 150px;
  background-color: orange;
}

#backBtn {
  position: absolute;
  top: -32px;
  right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  background-image: url(/icons/krabbefot-kryss-ikoner-leftbar-05.png);
  background-size: cover;
}

#backBtn:hover {
  background-image: url(/icons/kryss-ikon-white.png);
}

#selectTxt {
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 13.5px;
  margin-left: -2px;
}

#selectStatus {
  position: absolute;
  background-color: #f2f2f2;
  width: 283px;
  height: 260px;
  top: 0;
  right: 0;
  margin-right: 6px;
  margin-top: 15px;
  box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.5);
  border-radius: 0px 5px 0px 0px;
}

.blackStatus{
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424249;
}

.yellowStatus{
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4b707;
}

.blueStatus{
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4184c6;
}

.greenStatus{
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69D126;
}

.statusP{
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;  
  font-weight: normal;
  font-size: 17px; 
}

.currrentTaskCount{
  position: absolute;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 16.5px;
  font-size: 18px;
  right: 0;
  bottom: 0;
  font-weight: normal;
  color: #444444;
}

#changeTaskName {
  position: absolute;
  width: 400px;
  height: 85px;
  margin-left: 6px;
  margin-top: 15px;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 0px;
  box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.3);
}

#taskNameInput {
  position: absolute;
  width: 370px;
  height: 40px;
  margin-top: 50px;
  margin-left: -6px;
  transform: translate(20px, -15px);
  text-align: center;
  border: none;
  /*background-color: #444444;*/
  font-size: 20px;
  color: #f2f2f2;
}

.singleFormButton{
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 315px;
  margin-top: 3.5px;
  border:0;
  background:transparent;
  background-image: url(/icons/pen-icon-gray-02.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border:none;
}

.singleFormButton:hover{
  background-image: url(/icons/pen-icon-darkgray-01.png);
}

.headerDeleteSingle{
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 350px;
  margin-top: 3.5px;
  background-image: url(/icons/x-icon-gray-02.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.headerDeleteSingle:hover{
  background-image: url(/icons/x-icon-darkgray-02.png);
}

.currentTaskStyle{
  position: absolute;
  color: #444444;
  margin-left: 27px;
  margin-top: 8px;
  font-weight: normal;
  font-size: 18px;
}

#editTaskListContainer{
  position: absolute;
  width: 400px;
  height: 525px;
  bottom: 0;
  left: 0;
  margin-left: 6px;
  margin-bottom: 50px;
  overflow-y: scroll;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 0px 5px;
  box-shadow: inset 0px 0px 17px -3px rgba(0,0,0,0.5);
}

.singleTaskCount{
  position: absolute;
  margin-left: 15px;
  margin-top: 7.5px;
  color: #f2f2f2;
  font-weight: normal;
  font-size: 18px;
}

.singleEdit{
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  margin-left: -70px;
  border:0;
  background:transparent;
  background-image: url(/icons/pen.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border:none;
}

.singleEdit:hover {
  background-image: url(/icons/pen-icon-gray-02.png);
}

.singleDelete{
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 335px;
  margin-top: 5px;
  background-image: url(/icons/x-mark.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.singleDelete:hover {
  background-image: url(/icons/x-icon-gray-02.png);
}

.singleStatus{
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  margin-left: 265px;
  border:0;
  background:transparent;
  background-image: url(/icons/check-mark.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border: none;
}

.singleStatus:hover{
  background-image: url(/icons/check-icon-gray-01.png);
}

.singleInputStyle{
  padding-left: 6px;
  height: 35px;
  font-size: 12px;
  background-color: #f2f2f2;
  border-style: none;
  margin-top: 38px;
  color: #444444;
}

.singleTaskBorderStyle{
  width: 370px;
  height: 75px;
  background-color: #444444;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2.5px #444444 solid;
  margin-left: 14px;
  margin-top: 10px;
}

.memberInputContainer{
  position: absolute;
  background-color: #f2f2f2;
  width: 283px;
  height: 350px;
  bottom: 0;
  right: 0;
  margin-right: 6px;
  margin-bottom: 50px;
  box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.5);
  border-radius: 0px 0px 5px 0px;
}