.popUpContainer {
  position: absolute;
  height: 680px;
  width: 700px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f2f2f2;
  box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.35);
  right: 0;
  bottom: 0;
  display: none;
  z-index: 4;
}

#popUpContainer {
  position: absolute;
  height: 680px;
  width: 700px;
  right: 0;
  bottom: 0;
  margin-right: 110px;
  margin-bottom: 30px;
  float: right;
  display: none;
  z-index: 4;
}

#popUpInput1 {
  width: 250px;
  height: 150px;
  background-color: orange;
}

#backBtn {
  position: absolute;
  top: -32px;
  right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  background-image: url(/icons/leftbarCloseWhite.png);
  background-size: cover;
}

#backBtn:hover {
  background-image: url(/icons/leftbarCloseGrey.png);
}

#selectTxt {
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 13.5px;
  margin-left: -2px;
}

#selectStatus {
  position: absolute;
  background-color: #f2f2f2;
  width: 283px;
  height: 260px;
  top: 0;
  right: 0;
  margin-right: 6px;
  margin-top: 55px;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 0px;
}

.blackStatus {
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
}

.yellowStatus {
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2af5c;
}

.blueStatus {
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #57c6f2;
}

.greenStatus {
  border: 2px solid #424249;
  width: 225px;
  height: 40px;
  margin-left: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24bf86;
}

.statusP {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 17px;
}

.currentTaskCount {
  position: absolute;
  text-align: center;
  margin-right: 110px;
  margin-top: 18px;
  font-size: 18px;
  right: 0;
  top: 0;
  font-weight: normal;
  color: #444444;
}

#changeTaskName {
  position: absolute;
  width: 400px;
  height: 85px;
  margin-left: 6px;
  margin-top: 15px;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 0px;
  box-shadow: inset 0px 0px 17px -3px rgba(0, 0, 0, 0.3);
}

#taskNameInput {
  position: absolute;
  width: 370px;
  height: 40px;
  margin-top: 50px;
  margin-left: -6px;
  transform: translate(20px, -15px);
  text-align: center;
  border: none;
  font-size: 20px;
  color: #f2f2f2;
}

.singleFormButton {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 315px;
  margin-top: 3.5px;
  border: 0;
  background: transparent;
  background-image: url(/icons/paperWhiteEdit.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border: none;
}

.singleFormButton:hover {
  background-image: url(/icons/penGrayEdit.png);
}

.headerDeleteSingle {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 350px;
  margin-top: 3.5px;
  background-image: url(/icons/xIconGrey.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.headerDeleteSingle:hover {
  background-image: url(/icons/xIconDarkgrey.png);
}

.currentTaskStyle {
  position: absolute;
  color: #444444;
  margin-left: 27px;
  margin-top: 8px;
  font-weight: normal;
  font-size: 18px;
}

#editTaskListContainer {
  position: absolute;
  width: 400px;
  height: 615px;
  bottom: 0;
  left: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  overflow-y: scroll;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 0px 5px;
  box-shadow: inset 0px 0px 17px -3px rgba(0, 0, 0, 0.5);
}

#listName {
  position: absolute;
  width: 688px;
  height: 45px;
  top: 0;
  left: 0;
  margin-left: 6px;
  margin-top: 5px;
  overflow-y: scroll;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.currentSingleHeader {
  position: absolute;
  top: 0;
  margin-left: 120px;
  margin-top: 12px;
  color: #424249;
  font-weight: normal;
  font-size: 18px;
}

.singleTaskCount {
  position: absolute;
  margin-left: 15px;
  margin-top: 7.5px;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
}

.singleEdit {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  margin-left: -70px;
  border: 0;
  background: transparent;
  background-image: url(/icons/penWhite.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border: none;
}

.singleEdit:hover {
  background-image: url(/icons/penGrey.png);
}

.singleDelete {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 335px;
  margin-top: 5px;
  background-image: url(/icons/xIconWhite.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.singleDelete:hover {
  background-image: url(/icons/xIconGrey.png);
}

.singleStatus {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  margin-left: 265px;
  border: 0;
  background: transparent;
  background-image: url(/icons/checkIconWhite.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
  border: none;
}
.singleStatus:hover {
  background-image: url(/icons/checkIconGrey.png);
}
.singleInputStyle {
  padding-left: 6px;
  height: 35px;
  font-size: 12px;
  background-color: #f2f2f2;
  border-style: none;
  margin-top: 38px;
  color: #444444;
  z-index: 6;
}
.singleTaskBorderStyle {
  width: 370px;
  height: 75px;
  background-color: #444444;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2.5px #444444 solid;
  margin-left: 14px;
  margin-top: 10px;
}
.memberInputContainer {
  position: absolute;
  background-color: #f2f2f2;
  width: 283px;
  height: 250px;
  bottom: 0;
  right: 0;
  margin-right: 6px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 5px 0px;
}
.deadlineInputContainer {
  position: absolute;
  background-color: #f2f2f2;
  width: 283px;
  height: 95px;
  bottom: 215px;
  right: 0;
  margin-right: 6px;
  margin-bottom: 50px;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
}
.deadlineInput {
  position: absolute;
  left: 35px;
  top: 43px;
  height: 30px;
  border-radius: 5px;
  border: solid 1.5px #808080;
  padding-left: 10px;
}
#dayInput {
  width: 35px;
}
#monthInput {
  left: 87px;
  width: 35px;
}
#yearInput {
  left: 139px;
  width: 50px;
}
#deadlineTxt {
  text-align: center;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 13.5px;
  margin-left: -2px;
}
.addButton {
  position: absolute;
  right: 35px;
  bottom: 20px;
  background-color: #424249;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.1s;
}
.addButton:hover {
  background-color: #aaaaaa;
}
#draggableHeader {
  cursor: move;
}

#memberSubTaskOpen{
  position: absolute;
  width: 282px;
  height: 45px;
  background-color: #444444;
  box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1em;
  vertical-align: middle;
  line-height: 42px;    
  color: #f2f2f2;
  font-weight: normal;
  border: 0;
}

#memberSubTaskClose{
  position: absolute;
  width: 282px;
  height: 45px;
  background-color: #444444;
  box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1em;
  vertical-align: middle;
  line-height: 42px;    
  color: #f2f2f2;
  font-weight: normal;
  border: 0;
  display: none;
}


#selectSubMemberContainer{
  position: absolute;
  margin-top: 45px;
  width: 282px;
  height: 205px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f2f2f2;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

#renderSubMemberContainer{
  position: absolute;
  width: 282px;
  height: 205px;
  margin-top: 45px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f2f2f2;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.subProfileAddContainer{
  position: relative;
  width: 272px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: inset 0px 0px 12px -3px rgba(0, 0, 0, 0.2);
  border-radius: 2.5px;
}

.subProfilePictureAdd{
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  background-image: url(/images/userLogo.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.subTaskTextAdd{
  text-align: center;
  line-height: 40px;
  font-weight: normal;
}

.addSubMemberButton{
  position: absolute;
  background-color: #424249;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  margin-left: 232px;
  margin-top: -36px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.1s;
}

.addSubMemberButton:hover{
  background-color: #aaaaaa;
}

