#AddContainerEmpty{
    width: 95%;
    padding-right: 5%;
    float: left;
    grid-column-gap: 25px;
    padding: 0px;
    padding-right: 0px;
  }

.editButton{
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 35px;
    margin-top: -33.5px;
    background-image: url(/icons/pen.png);
    background-size: contain;
    background-position: center;
}

.deleteButton{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 12px;
    float: right;
    background-image: url(/icons/x-mark.png);
    background-size: cover;
    background-position: center;
}

.subListHeader{
    width: 100%;
    height: 50px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headerForm{
    float: left;
    width: 90%;
}

.subListHeaderText{
     /* Kanskje fjerne */
    color: white;
    margin-top: 1px;
    border-radius: 5px;
    text-align: center;
    float: left;
    width: 88%;
    height: 42px;
    border: none;
    background: none;
    font-size: 1.4em;
}

.subListHeaderText:focus{
    border: none;
    border-bottom: 3px solid #2bb524;
}
  
.subListHeaderText::placeholder{
    color: white;
}

.subLi {
    list-style: none;
    padding: 15;
    margin-left: -35px;
    font-size: 18px;
    margin-bottom: 4px;
    padding-bottom: 5px;
}
  
.subLi:hover {
    font-size: 18px;
    margin-bottom: 4px;
}

.subTaskFormStyle{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #bcbcbc;
    text-align: center;
    transition: 0.3s;
}

.createTaskForm{
    width: inherit;
}

.subTaskInput{
    position: absolute;
    width: 200px;
    padding: 9px 20px;
    margin-left: -150px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    transition: 0.3s;
}
  
.subTaskInput:focus {
    border: 3px solid #2bb524;
}

.subTaskList{
    animation-duration: 0.3s;
}

@keyframes deleteBox{
    0%{margin-top: 0px; transform: rotate(0deg);}
    100%{margin-top: 300px; transform: rotate(25deg); opacity: 0;}
}

@media (max-width: 6000px){
    .subTaskList{
        float: left;
        width: 9%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 4000px){
    .subTaskList{
        float: left;
        width: 12%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 3000px){
    .subTaskList{
        float: left;
        width: 14%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 2300px){
    .subTaskList{
        float: left;
        width: 17%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 1870px){
    .subTaskList{
        float: left;
        width: 22%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 1480px){
    .subTaskList{
        float: left;
        width: 28%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 1120px){
    .subTaskList{
        float: left;
        width: 40%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 790px){
    .subTaskList{
        float: left;
        width: 65%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 680px){
    .subTaskList{
        float: left;
        width: 65%;
        height: fit-content;
        box-shadow: inset 0px -30px 41px -23px rgba(0,0,0,0.23);
        border-radius: 5px;
        margin: 1%;
        margin-bottom: 2%;
    }
}