.calculator-grid{
display: grid;
justify-content: center;
align-items: center;
min-height: 80px;
grid-template-rows: minmax(100px, auto)(80px;);
grid-template-columns: repeat(4, 80px);
position: absolute;
margin: 50px;
border-color: 2px black;
}

.calculator-grid > button{
cursor: pointer;
font-size: 1rem;
border: 1px solid black;
outline: none;
background-color: #E0DAD5;
}

.calculator-grid > button:hover{
 background-color: #FF5E2C;
}
.ac{
grid-column: span 2;
}
.equals{
grid-column: span 2;
}
.output{
grid-column: 1/-1;

background-color: #FF5E2C;
display: flex;
height: 60px;
width: 100%;
border-color: ;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;

}